/*GLOBALES*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*reset para REMS - 62.5% = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  /*imagenes resposivas*/
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1 {
  font-size: 3.8rem;
  margin-top: 0;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.8rem;
}

/*UTILIDADES*/
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*HEADER*/
.site-header {
  background: #153b56;
  height: 12rem;
}
.container-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}
.menu-bar a img {
  width: 5rem;
  height: 6rem;
}
.menu-bar nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.2rem;
  margin-right: 2rem;
}

/*BANNER*/
.section-banner {
  background-image: url(../img/banner.jpg);
  background-position: top center; /*centra la imagen*/
  background-size: cover; /*escala la imagen sin estirarla*/
  height: 100vh; /*toma el alto de la pantallas*/
  min-height: 5rem;
}
.section-banner h1 {
  width: 45%;
  text-transform: uppercase;
  color: #153b56;
  line-height: 1;
  border: 1px solid black;
  position: relative;
}

/*FOOTER*/
