/*GLOBALES*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*reset para REMS - 62.5% = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  /*imagenes resposivas*/
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.8rem;
}

/*UTILIDADES*/
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*HEADER*/
.site-header {
  background: #153b56;
  padding: 1rem 0 3 rem 0;
}

/*FOOTER*/
