/*GLOBALES*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*reset para REMS - 62.5% = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  /*imagenes resposivas*/
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
  text-align: center;
}
h4 {
  font-size: 2.8rem;
}
p {
  text-align: center;
}
/*UTILIDADES*/
.section {
  border: 1px solid #000;
  margin: 1rem auto;
}

/*HEADER*/
.site-header {
  background: #153b56;
  height: 12rem;
}
.container-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}
.menu-bar a img {
  width: 5rem;
  height: 6rem;
}
.menu-bar nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.2rem;
  margin-right: 2rem;
}

/*BANNER*/
.section-banner {
  background-image: url(../img/banner.jpg);
  background-position: top center; /*centra la imagen*/
  background-size: cover; /*escala la imagen sin estirarla*/
  height: 100vh; /*toma el alto de la pantallas*/
  min-height: 5rem;
}

.section-banner h1 {
  width: 40%;
  text-transform: uppercase;
  color: #153b56;
  line-height: 1.2;
  position: absolute;
  top: 35rem;
  left: 9rem;
}
/*ABOUT-US*/
.container-about {
  display: flex;
  flex-wrap: wrap;
}
.about-us {
  width: 100%;
}
.mision {
  width: 50%;
  text-align: center;
}
.vision {
  width: 50%;
  text-align: center;
}
/*MAIN/SERVICES*/
.container-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service {
  height: 60rem;
  width: 48%;
  border: 0.1rem solid #000;
  text-align: center;
  padding: 3rem;
  margin: 1rem;
}
.container-services:last-child {
  justify-content: center;
}

/*COURSES*/
.section-courses {
  text-align: center;
}
/*FOOTER*/
.site-footer {
  background: #153b56;
  height: 12rem;
  color: #fff;
  padding: auto;
}
